/*variables*/
/*customize*/
body {
  background: #faf9ff; }

h5 {
  color: #006489;
  font-weight: bold; }

hr {
  border-top: 1px solid #ccc;
  margin: 1rem 0; }

.hide {
  display: none !important; }

.img-md {
  height: 100px;
  width: auto; }

.img-full {
  max-width: 100%; }

.inline-block {
  display: inline-block; }
  .inline-block h4, .inline-block h3, .inline-block h5 {
    margin: 0; }

.tb-title {
  font-weight: bold; }

.tb-cnt {
  text-align: right; }
  .tb-cnt img {
    width: 150px; }

.app-header__logo .logo {
  height: 60px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #006489;
  font-weight: bold; }
  .app-header__logo .logo img {
    max-height: 100%;
    margin-right: 10px; }
  .app-header__logo .logo-src {
    background: none;
    height: 53px;
    width: 97px; }
    .app-header__logo .logo-src img {
      max-height: 100%; }

.app-page-title {
  box-shadow: none;
  background: #006489 !important;
  color: #fff; }

.app-footer__inner {
  background: #006489 !important;
  color: #fff; }
  .app-footer__inner span {
    margin: auto; }

.btn-accord {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .btn-accord h5 {
    font-size: 16px;
    color: #000; }
  .btn-accord i {
    font-size: 22px;
    transform: rotate(0deg); }

button[aria-expanded="true"] i {
  transform: rotate(180deg); }

.big-text {
  font-weight: bold;
  font-size: 18px; }

.text-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.width-sm {
  width: 180px; }

.materi-file {
  font-weight: bold;
  border-top: 1px solid #ccc;
  padding: 20px 0; }
  .materi-file a {
    display: inline-block;
    margin-right: 20px; }
    .materi-file a:hover {
      text-decoration: none; }
    .materi-file a i {
      font-size: 18px; }

.card.regular {
  display: block; }

.card-header.action {
  font-size: 0.7rem; }
  .card-header.action .form-control {
    font-size: 0.8rem; }

.card-header.full .row {
  width: 100%; }
  .card-header.full .row .form-group {
    margin: 0; }
  .card-header.full .row > div {
    display: flex;
    align-items: center; }

.card-header.full .inline label {
  float: left;
  margin-right: 10px;
  margin-bottom: 0; }

.card-header.full .inline .form-group {
  float: left; }

.card-header__text {
  margin: 0;
  font-size: 22px; }

.card-body.kelas {
  height: 240px; }

.card-body.scroll {
  overflow: auto; }

.status {
  text-align: center;
  font-size: 22px;
  display: block;
  font-weight: bold; }
  .status-check {
    color: #3ac47d; }
  .status-uncheck {
    color: #d92550; }
  .status-wait {
    color: #4a4a4a; }

/*only title*/
.title-text a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
  color: #000; }
  .title-text a:last-child {
    border: none; }
  .title-text a:hover {
    text-decoration: none; }

.title-text__date {
  color: #888888;
  font-size: 12px; }

.title-text h1 {
  font-size: 24px;
  font-weight: bold;
  color: #006489; }

.title-text h2 {
  font-size: 18px;
  font-weight: bold; }

/*log form*/
.log-header {
  text-align: center;
  padding: 0 0 30px; }
  .log-header .logo {
    display: inline-block; }
    @media all and (min-width: 241px) and (max-width: 480px) {
      .log-header .logo {
        display: none; } }
    .log-header .logo-mobile {
      display: none; }
      @media all and (min-width: 241px) and (max-width: 480px) {
        .log-header .logo-mobile {
          display: inline-block; } }

.log-form label {
  font-weight: bold; }

.log-content {
  min-height: 600px; }

.profile-img img {
  width: 150px; }

.table tr td:first-child {
  font-weight: bold; }

.table tr.total {
  border-top: 2px solid #006489; }

.table tfoot.total {
  background: #006489;
  margin-top: 40px;
  color: #fff; }

.table-data tr td:first-child {
  width: 25%; }

.box-notif {
  padding: 10px;
  color: #fff; }
  .box-notif h4 {
    margin: 0; }

.modal-title {
  font-size: 1rem; }

.modal-body .table-data {
  font-size: 0.8rem; }
  .modal-body .table-data tr td:first-child {
    width: 35%; }

.align-baseline tr td {
  vertical-align: baseline; }

.none {
  margin: 0;
  padding-left: 1em; }

textarea.textarea-lg {
  height: 200px; }

.footer-log {
  border-top: 2px solid #E1D824;
  padding: 30px;
  background: #006489;
  color: #fff;
  text-align: center; }

.ajax-file-upload-statusbar {
  text-align: center;
  border: 1px solid #0ba1b5;
  margin-top: 10px;
  width: 420px;
  margin-right: 10px;
  margin: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 5px 5px 15px; }
  @media all and (min-width: 241px) and (max-width: 480px) {
    .ajax-file-upload-statusbar {
      width: 100% !important; } }

.ajax-file-upload-filename {
  width: 300px;
  height: auto;
  margin: 0 5px 5px 0px; }

.ajax-file-upload-filesize {
  width: 50px;
  height: auto;
  margin: 0 5px 5px 0px;
  display: inline-block;
  vertical-align: middle; }

.ajax-file-upload-progress {
  margin: 5px 10px 5px 0px;
  position: relative;
  width: 250px;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
  display: inline-block;
  color: #FFFFFF; }

.ajax-file-upload-bar {
  background-color: #0ba1b5;
  width: 0;
  height: 20px;
  border-radius: 3px;
  color: #FFFFFF; }

.ajax-file-upload-percent {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 48%; }

.ajax-file-upload-red {
  -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
  -webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
  box-shadow: inset 0 39px 0 -24px #e67a73;
  background-color: #e4685d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #b23e35;
  cursor: pointer;
  vertical-align: top;
  margin: 5px 10px 5px 0px; }

.ajax-file-upload-green {
  background-color: #77b55a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #fff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 4px 15px;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 0 #5b8a3c;
  vertical-align: top;
  margin: 5px 10px 5px 0px; }

.ajax-file-upload {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  cursor: pointer;
  line-height: 20px;
  margin: 0 10px 10px 0;
  display: inline-block;
  background: #fff;
  border: 1px solid #e8e8e8;
  color: #888;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 2px 0 0 #e8e8e8;
  -webkit-box-shadow: 0 2px 0 0 #e8e8e8;
  box-shadow: 0 2px 0 0 #e8e8e8;
  padding: 6px 10px 4px 10px;
  color: #fff;
  background: #2f8ab9;
  border: none;
  -moz-box-shadow: 0 2px 0 0 #13648d;
  -webkit-box-shadow: 0 2px 0 0 #13648d;
  box-shadow: 0 2px 0 0 #13648d;
  vertical-align: middle; }

.ajax-file-upload:hover {
  background: #3396c9;
  -moz-box-shadow: 0 2px 0 0 #15719f;
  -webkit-box-shadow: 0 2px 0 0 #15719f;
  box-shadow: 0 2px 0 0 #15719f; }

.ajax-upload-dragdrop {
  border: 2px dotted #A5A5C7;
  width: 420px;
  color: #DADCE3;
  text-align: left;
  vertical-align: middle;
  padding: 10px 10px 0px 10px; }

.state-hover {
  border: 2px solid #A5A5C7; }

.ajax-file-upload-container {
  margin: 20px 0px 20px 0px; }

.tr-border {
  border-bottom: 2px solid #ccc; }

.app-sidebar .scrollbar-sidebar {
  overflow: auto; }
