/*variables*/
$kuler1: #006489;
$kuler2: #232323;
$kuler3: #E1D824;

$success:#3ac47d;
$danger:#d92550;

$text: #888888;


/*customize*/

body{
	background:#faf9ff;
}

h5{
	color: $kuler1;
	font-weight: bold;
}

hr{
	border-top: 1px solid #ccc;
	margin:1rem 0;
}

.hide{
	display: none!important;
}

.img{
	&-md{
		height: 100px;
		width: auto;
	}
	&-full{
		max-width: 100%;
	}
}

.inline-block{
	display: inline-block;
	h4,h3,h5{
		margin: 0;
	}
}

.tb{
	&-title{
		font-weight: bold;
	}
	&-cnt{
		text-align: right;
		img{
			width: 150px;
		}
	}
}

.app{
	&-header__logo{
		.logo{
			height:60px;
			padding: 5px 0;
			display: flex;
			align-items: center;
			font-size: 24px;
			color: $kuler1;
			font-weight: bold;
			img{
				max-height: 100%;
				margin-right: 10px;
			}
			&-src{
				background: none;
				height: 53px;
    			width: 97px;
				img{
					max-height: 100%;
				}
			}
		}
	}
	&-page{
		&-title{
			box-shadow: none;
			background: $kuler1!important;
			color:#fff;
		}
	}
	&-footer{
		&__inner{
		background: $kuler1!important;
		color: #fff;
			span{
				margin:auto;
			}
		}
	}
}

.btn{
	&-accord{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
		h5{
			font-size: 16px;
			color: #000;
		}
	    i{
	    	font-size: 22px;
	    	transform: rotate(0deg);
	    }
	}
}

button[aria-expanded="true"]{
	i{
		transform: rotate(180deg);
	}
}

.big-text{
	font-weight: bold;
	font-size: 18px;

}

.text-bold{
	font-weight: bold;
}

.text-center{
	text-align: center;
}

.width-sm{
	width: 180px;
}

.materi-file{
		font-weight: bold;
		border-top: 1px solid #ccc;
		padding: 20px 0;
	a{
		display: inline-block;
		margin-right: 20px;
		&:hover{
			text-decoration: none;
		}
		i{
			font-size: 18px;
		}
	}
}

.card{
	&.regular{
		display: block;
	}
	&-header{
		&.action{
			font-size: 0.7rem;
			.form-control{
				font-size: 0.8rem;
			}
		}
		&.full{
			.row{
				width: 100%;
				.form-group{
					margin:0;
				}
				& > div{
					display: flex;
					align-items: center;
				}
			}
			.inline{ 
				label{
				 float: left;
				 margin-right: 10px;
				 margin-bottom: 0;
				}
				.form-group{
				 float: left;
				}
			}
		}
		&__text{
			margin:0;
			font-size: 22px;
		}
	}
	&-body{
		&.kelas{
			height: 240px;
		}
		&.scroll{
			overflow: auto;
		}
	}
}

// status icon
.status{
	text-align: center;
	font-size:22px;
	display: block;
	font-weight: bold;
	&-check{
		color:$success;
	}
	&-uncheck{
		color:$danger;
	}
	&-wait{
		color: #4a4a4a;
	}
}

/*only title*/
.title-text{
	a{
		display: block;	
		padding:10px 0;
		border-bottom: 1px solid #efefef;
		color: #000;
		&:last-child{
			border:none;
		}
		&:hover{
			text-decoration: none;
		}
	}
	&__date{
		color:$text;
		font-size: 12px;
	}
	h1{
		font-size: 24px;
		font-weight: bold;
		color: $kuler1;
	}
	h2{
		font-size: 18px;
		font-weight: bold;
	}

}

/*log form*/
.log{

	&-header{
		text-align: center;
		padding: 0 0 30px;
		.logo{
			display: inline-block;
			@media all and (min-width: 241px) and (max-width: 480px) {
				display: none;
			}
			&-mobile{
				display: none;
				@media all and (min-width: 241px) and (max-width: 480px) {
					display: inline-block;
				}
			}
		}
	}

	&-form{
		.btn{}
		label{
			font-weight: bold;
		}
	}

	&-content{
		min-height: 600px;
	}

}

.profile-img{
	img{
		width: 150px;
	}
}
.table{
	tr{
		td{
			&:first-child{
				font-weight: bold;
			}
		}
		&.total{
			border-top:2px solid #006489;
		}
	}
	tfoot{
		&.total{
			background:$kuler1;
			margin-top: 40px;
			color: #fff;
		}
	}
	&-data{
		tr{
			td{
				&:first-child{
					width:25%;
				}
			}
		}
	}
}

.box{
	&-notif{
		padding:10px;
		color:#fff;
		h4{
			margin: 0;
		}
	}
}

.modal{
	&-title{
		font-size: 1rem;
	}
	&-body{
		.table-data{
			font-size: 0.8rem;
			tr{
				td{
					&:first-child{
						width:35%;
					}
				}
			}
		}
	}
}

.align-baseline{
	tr{
		td{
			vertical-align: baseline;
		}
	}
	
}

.none{	
	margin:0;
	padding-left: 1em;
}

textarea.textarea-lg{
	height: 200px;
}

.main-content{}

.footer-log{
	border-top:2px solid $kuler3;
	padding: 30px;
	background: $kuler1;
	color: #fff;
	text-align: center;
}

//upload style
.ajax-file-upload-statusbar {
	text-align: center;
border: 1px solid #0ba1b5;
margin-top: 10px;
width: 420px;
margin-right: 10px;
margin: 5px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 5px 5px 5px 15px;
@media all and (min-width: 241px) and (max-width: 480px) {
	width:100%!important;
}
}

.ajax-file-upload-filename {
width: 300px;
height: auto;
margin: 0 5px 5px 0px;

}

.ajax-file-upload-filesize {
width: 50px;
height: auto;
margin: 0 5px 5px 0px;
display: inline-block;
vertical-align:middle;
}
.ajax-file-upload-progress {
margin: 5px 10px 5px 0px;
position: relative;
width: 250px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block;
color:#FFFFFF;

}
.ajax-file-upload-bar {
background-color: #0ba1b5;
width: 0;
height: 20px;
border-radius: 3px;
color:#FFFFFF;

}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
box-shadow: inset 0 39px 0 -24px #e67a73;
background-color: #e4685d;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
text-shadow: 0 1px 0 #b23e35;
cursor: pointer;
vertical-align: top;
margin: 5px 10px 5px 0px;
}
.ajax-file-upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin: 5px 10px 5px 0px;
}
.ajax-file-upload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
   font-weight: bold;
	padding: 15px 20px;
	cursor:pointer;
	line-height:20px;
	margin:0 10px 10px 0;
  display: inline-block;
  background: #fff;
  border: 1px solid #e8e8e8;
  color: #888;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 2px 0 0 #e8e8e8;
  -webkit-box-shadow: 0 2px 0 0 #e8e8e8;
  box-shadow: 0 2px 0 0 #e8e8e8;
  padding: 6px 10px 4px 10px;
  color: #fff;
  background: #2f8ab9;
  border: none;
  -moz-box-shadow: 0 2px 0 0 #13648d;
  -webkit-box-shadow: 0 2px 0 0 #13648d;
  box-shadow: 0 2px 0 0 #13648d;
  vertical-align: middle;
  }

.ajax-file-upload:hover {
      background: #3396c9;
      -moz-box-shadow: 0 2px 0 0 #15719f;
      -webkit-box-shadow: 0 2px 0 0 #15719f;
      box-shadow: 0 2px 0 0 #15719f;
}

.ajax-upload-dragdrop
{

	border:2px dotted #A5A5C7;
	width:420px;
	color: #DADCE3;
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 0px 10px;
}

.state-hover
{
		border:2px solid #A5A5C7;
}
.ajax-file-upload-container
{
	margin:20px 0px 20px 0px;
}

.tr-border{
	border-bottom: 2px solid #ccc;
}

.app-sidebar .scrollbar-sidebar{
	overflow: auto; 
}